<a href="https://colab.research.google.com/github/Akif-Mufti/Deep-learning-2.0/blob/master/importing_csv_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#this package is much like R

#panda dataframes are for 2d objects and panda series is for 1d object


import pandas as pd

X= pd.read_csv("data_2d.csv", header = None)

In [3]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.5 KB

In [4]:
#pandas will try to use most specific data type possible. If you have string in one cell, then it will use string in every cell.

# see specific number of rows

X.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [5]:
X.head(20)

            0          1           2
0   17.930201  94.520592  320.259530
1   97.144697  69.593282  404.634472
2   81.775901   5.737648  181.485108
3   55.854342  70.325902  321.773638
4   49.366550  75.114040  322.465486
5    3.192702  29.256299   94.618811
6   49.200784  86.144439  356.348093
7   21.882804  46.841505  181.653769
8   79.509863  87.397356  423.557743
9   88.153887  65.205642  369.229245
10  60.743854  99.957634  427.605804
11  67.415582  50.368310  292.471822
12  48.318116  99.128953  395.529811
13  28.829972  87.184949  319.031348
14  43.853743  64.473639  287.428144
15  25.313694  83.545294  292.768909
16  10.807727  45.695569  159.663308
17  98.365746  82.697394  438.798964
18  29.146910  66.365107  250.986309
19  65.100302  33.353883  231.711508

In [6]:
X[0]

0     17.930201
1     97.144697
2     81.775901
3     55.854342
4     49.366550
        ...
95    46.456779
96    77.130301
97    68.600608
98    41.693887
99     4.142669
Name: 0, Length: 100, dtype: float64

In [7]:
type(X[0])

pandas.core.series.Series

In [8]:
#selecting oth and 2nd column

X[[0,2]]

            0           2
0   17.930201  320.259530
1   97.144697  404.634472
2   81.775901  181.485108
3   55.854342  321.773638
4   49.366550  322.465486
..        ...         ...
95  46.456779  336.876154
96  77.130301  438.460586
97  68.600608  355.900287
98  41.693887  284.834637
99   4.142669  168.034401

[100 rows x 2 columns]

In [10]:
#selecting rows with certain critera

X[X[0]<5]

           0          1           2
5   3.192702  29.256299   94.618811
44  3.593966  96.252217  293.237183
54  4.593463  46.335932  145.818745
90  1.382983  84.944087  252.905653
99  4.142669  52.254726  168.034401

In [11]:
#verification
X[0]<5

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99     True
Name: 0, Length: 100, dtype: bool