<a href="https://colab.research.google.com/github/Akif-Mufti/Deep-learning-2.0/blob/master/Modifying_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

#
df = pd.read_csv("international-airline-passengers.csv",engine = "python", skipfooter=3)

#we dont pass the header arguments here, by default pandas read the header
# when we read this csv file the lower three rows are ugly , thats why we specify skipfooter = 3
#for skipfooter to work, we also need to specify that the engine is python, otherwise it wont work with the default engine which is c

df.columns

Index(['Month', 'International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60'], dtype='object')

In [0]:
#The column names are ugly
#we can rename them
df.columns =["Month","Traveler"]

In [7]:
df.columns

Index(['Month', 'Traveler'], dtype='object')

In [8]:
#different ways of calling columns
df['Month']

0      1949-01
1      1949-02
2      1949-03
3      1949-04
4      1949-05
        ...
139    1960-08
140    1960-09
141    1960-10
142    1960-11
143    1960-12
Name: Month, Length: 144, dtype: object

In [9]:
df.months

AttributeError: ignored

In [10]:
#works only when colum names are strings
df.Traveler

0      112
1      118
2      132
3      129
4      121
      ...
139    606
140    508
141    461
142    390
143    432
Name: Traveler, Length: 144, dtype: int64

In [0]:
#adding one more colum, for example a bias in Macine learning

df['Ones']=1

In [13]:
df.head()

     Month  Traveler  Ones
0  1949-01       112     1
1  1949-02       118     1
2  1949-03       132     1
3  1949-04       129     1
4  1949-05       121     1